// Box sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
}

html, body{
    margin: 0;
    padding: 0;
}


// Reset margins 
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;

    //avoiding text overflows
    overflow-wrap: break-word;
}

// set up the body 
body {
    line-height: 1.5;
    // min-height: 100vh;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}




// Images
img,
picture {
    max-width: 100%;
}

// Form
input,
button,
textarea,
select {
    font: inherit;
}

// remove animations for people who've turned them off
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


//Root stacking context
//https://developer.mozilla.org/en-US/docs/Web/CSS/isolation
#root, #__next{
    isolation: isolate;
}